*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth; /* Для плавного скролла по якорям и по сайту */
  color: #fff;
  background-color: #000000;
}
#root{
  height: 100%;
}
div {
  position: relative;
}
section {
  position: relative; /* делаем позиционирование в секциях, удобно для размещения абсолютных блоков */
  padding: 75px 0;
  overflow: hidden;
}
@media (max-width: 445px) {
  section {
    padding: 35px 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
button {
  /* Убираем лишние отступы, как внутренние, так и внешние */
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
ul,
ol {
  list-style: none; /* Убираем базовые цифры и пометки списков */
}
a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
}
button {
  cursor: pointer; /* Добавляем палец при наведении на кнопку */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 6.5%;
}
